In [12]:
print ("Hello World!")

Hello World!

In [13]:
#Das ist ein Kommentar
print ("something")

something

In [14]:
name = "Lovelace"

In [15]:
print (name)

Lovelace

In [16]:
age = 73

In [17]:
print (age)

73

In [18]:
size = 1.7123

In [19]:
print (size)

1.7123

In [20]:
type (age)

int

In [21]:
type (size)

float

In [22]:
type (name)

str

## Operatoren

In [23]:
5 + 5

10

In [24]:
100 * age

7300

In [25]:
name + name

'LovelaceLovelace'

In [26]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [27]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [28]:
name + "10"

'Lovelace10'

In [29]:
size/age

0.023456164383561642

In [30]:
number_of_articles = "50"

In [31]:
int (number_of_articles / 10)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [32]:
int (number_of_articles) / 10

5.0

## Funktionen und Methoden

In [33]:
len (name)

8

In [34]:
print (name)

Lovelace

In [35]:
name.upper ()

'LOVELACE'

In [36]:
print (name)

Lovelace

In [37]:
name_capital = name.upper ()

In [38]:
print (name_capital)

LOVELACE

In [39]:
name.count ("e")

2

In [40]:
name.replace ("lace", " is everywhere")

'Love is everywhere'

##Listen und Dictionaries

## Listen und Dictionaries

In [41]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [42]:
names [2]

'Curie'

In [43]:
names [0]

'Lovelace'

In [44]:
names = [3]

In [45]:
type (names[3])

IndexError: list index out of range

In [46]:
type(names[3])

IndexError: list index out of range

In [47]:
type(names[3])

IndexError: list index out of range

In [48]:
names[-1]

3

In [49]:
names[0:3]

[3]

In [50]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [51]:
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [52]:
len(names)

4

In [53]:
authors_and_birth_years {"Lovelace": 1882, "Darwin": 1809, "Noether": 1882}

SyntaxError: invalid syntax (<ipython-input-53-5264d81cc931>, line 1)

In [54]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Noether": 1882}

In [55]:
authors_and_birth_years ["Darwin"]

1809

## for-Schleife

In [56]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [59]:
for name in names:
    print (name + " did awesome stuff")
    print ("\n")

Lovelace did awesome stuff


Darwin did awesome stuff


Curie did awesome stuff


Hawking did awesome stuff

## Übung

In [60]:
for author, year in authors_and_birth_years.items ():
    print (author)
    print (year)

Lovelace
1882
Darwin
1809
Noether
1882

## Bedingte Anweisungen (Conditionals)

In [61]:
temp = 20
if temp > 15:
    print ("It's warm")

It's warm

In [62]:
temp = 10
if temp > 15:
    print ("It's warm")

In [63]:
temp = 10
if temp > 15:
    print ("It's warm")
else:
    print ("It's cold")

It's cold

In [64]:
temp = 15
if temp>=25:
    print ("It's hot")
elif temp>=15:
    print ("It's warm")
else:
    print ("It`s cold")

It's warm